.visualization-vertical-bars-multi-dimensions {
  overflow: hidden; // IE FIX
  width: 100%;
  height: 100%;

  .svg-container-vertical-bars-multi-dimensions {
    width: 100%;
    height: 100%;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  .grid {
      stroke: #808080;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x-axis path {
    font: 10px sans-serif;
    fill: none;
  }
  .x-axis .tick text {
    font-size: 14px;
    fill: #343434;
  }
  .y-axis path {
    fill: none;
  }
  .y-axis .tick text {
    font-size: 10px;
    fill: #c2c2c2;
  }

  .legend-content {
    .legend-content-labels {
      font-size: 10px;
    }
  }
}

@media (max-width: $screen-xs) {
  .visualization-vertical-bars-multi-dimensions .x-axis .tick text {
      font-size: 10px;
  }
  .visualization-vertical-bars-multi-dimensions text.badge-text{
      font-size: 8px;
  }
  .visualization-vertical-bars-multi-dimensions .y-axis .tick text {
    font-size: 8px;
  }
}

@media (min-width: $screen-xs) {
  .visualization-vertical-bars-multi-dimensions .x-axis .tick text {
      font-size: 10px;
  }
  .visualization-vertical-bars-multi-dimensions text.badge-text{
      font-size: 8px;
  }
  .visualization-vertical-bars-multi-dimensions .y-axis .tick text {
    font-size: 8px;
  }
}

@media (min-width: $screen-sm) {
  .visualization-vertical-bars-multi-dimensions .x-axis .tick text {
      font-size: 12px;
  }
  .visualization-vertical-bars-multi-dimensions text.badge-text{
    font-size: 10px;
  }
  .visualization-vertical-bars-multi-dimensions .y-axis .tick text {
    font-size: 9px;
  }
}

@media (min-width: $screen-lg) {
  .visualization-vertical-bars-multi-dimensions .x-axis .tick text {
      font-size: 14px;
  }
  .visualization-vertical-bars-multi-dimensions text.badge-text{
    font-size: 12px;
  }
  .visualization-vertical-bars-multi-dimensions .y-axis .tick text {
    font-size: 10px;
  }
}

div.vertical-bar-multi-dimensions-tooltip {
  color: #222;
  background: #fff;
  text-shadow: #f5f5f5 0 1px 0;
  box-shadow: 0px 0px 3px 0px #a6a6a6;
  opacity: $tooltip-opacity;
  position: absolute;
}