<div class="visualization-vertical-bars-multi-dimensions">
    <div class="svg-container-vertical-bars-multi-dimensions">
        <svg class="vertical-bars-multi-dimensions" ng-show="barsAdded">
        </svg>
    </div>
</div>
