.visualization-vertical-bars {
  overflow: hidden; // IE FIX
  width: 100%;
  height: 100%;

  .svg-container-vertical-bars {
    width: 100%;
    height: 100%;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  .grid {
      stroke: #c3c3c3;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x-axis path {
    font: 10px sans-serif;
    fill: none;
  }
  .x-axis .tick text {
    font-size: 14px;
    fill: #343434;
  }
  .y-axis path {
    fill: none;
  }
  .y-axis .tick text {
    font-size: 10px;
    fill: #dcdcdc;
  }
  .legend-content {
    .legend-content-labels {
      font-size: 10px;
    }
  }
}

@media (max-width: $screen-xs) {
  .visualization-vertical-bars .x-axis .tick text {
    font-size: 10px;
  }
  .visualization-vertical-bars .badge-text{
    font-size: 8px;
  }
  .visualization-vertical-bars .y-axis .tick text {
    font-size: 8px;
  }
}

@media (min-width: $screen-xs) {
  .visualization-vertical-bars .x-axis .tick text {
    font-size: 10px;
  }
  .visualization-vertical-bars .badge-text{
    font-size: 8px;
  }
  .visualization-vertical-bars .y-axis .tick text {
    font-size: 8px;
  }
}

@media (min-width: $screen-sm) {
  .visualization-vertical-bars .x-axis .tick text {
    font-size: 12px;
  }
  .visualization-vertical-bars .badge-text{
    font-size: 10px;
  }
  .visualization-vertical-bars .y-axis .tick text {
    font-size: 9px;
  }
}

@media (min-width: $screen-lg) {
  .visualization-vertical-bars .x-axis .tick text {
    font-size: 14px;
  }
  .visualization-vertical-bars .badge-text{
    font-size: 12px;
  }
  .visualization-vertical-bars .y-axis .tick text {
    font-size: 10px;
  }
}

div.vertical-bar-tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  box-shadow: 0px 0px 3px 0px #a6a6a6;
  opacity: $tooltip-opacity;
  position: absolute;
}