<div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" ng-style="progressCompleted">
        <span class="sr-only">20% Complete</span>
    </div>
</div>