<div class="visualization-horizontal-bars">
    <div class="svg-container-horizontal-bars">
        <svg class="horizontal-bars" ng-show="barsAdded">
            <g transform="translate(2, {{barsSectionTopPadding}})" class="legend-content" ng-cloak ng-if="configuration.showLegendCircles">
                <text y="20" class="legend-content-labels" ng-cloak>
                    <tspan x="15" ng-attr-dy="{{$index === 0 ? 0 : (calculatedBarHeight + barPadding)}}" ng-repeat="item in drawedData" ng-cloak>{{item.brand}}</tspan>
                </text>
                <circle cx="3" ng-attr-cy="{{((calculatedBarHeight / 2) + $index * (calculatedBarHeight + barPadding))}}" r="5" fill="{{item.color}}" ng-repeat="item in drawedData" ng-cloak/>
            </g>
            <g transform="translate(2, {{barsSectionTopPadding}})" class="legend-content" ng-cloak ng-if="!configuration.showLegendCircles">
                <text y="14" class="legend-content-labels" ng-cloak>
                    <tspan x="5" ng-attr-dy="{{$index === 0 ? 0 : (calculatedBarHeight + barPadding)}}" ng-repeat="item in drawedData" ng-cloak>{{item.brand}}</tspan>
                </text>
            </g>
        </svg>
    </div>
</div>
