.visualization-horizontal-bars {
  overflow: hidden; // IE FIX
  width: 100%;
  height: 100%;

  .svg-container-horizontal-bars {
    width: 100%;
    height: 100%;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  .grid {
    &.par-lines {
      stroke: #e7e7e7;
    }
    &.impar-lines {
      stroke: #cccccc;
    }
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x-axis path {
    font: 10px sans-serif;
    fill: none;
  }
  .tick text{
    font-size: 10px;
    fill: #e7e7e7;
  }
  .legend-content {
    .legend-content-labels {
      font-size: 10px;
    }
  }
}

div.horizontal-bar-tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  box-shadow: 0px 0px 3px 0px #a6a6a6;
  opacity: $tooltip-opacity;
  position: absolute;
}