$treemap-node-border-radius: 4px;
.dt-treemap {
  overflow: hidden; // IE FIX
  width: 100%;
  height: 100%;

  .svg-treemap {
    width: 100%;
    height: 100%;
    position: relative;;
  }
  svg {
    width: 100%;
    height: 100%;
  }

  .node {
    border: solid 1px white;
    font: 10px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
    .label {
      font-size: 14px;
      color: #FFFFFF;
      position: absolute;
      bottom: 20px;
      left: 20px;
    }
  }
}

.top-right-border {
  border-top-right-radius: $treemap-node-border-radius;
}
.top-left-border {
  border-top-left-radius: $treemap-node-border-radius;
}
.bottom-right-border {
  border-bottom-right-radius: $treemap-node-border-radius;
}
.bottom-left-border {
  border-bottom-left-radius: $treemap-node-border-radius;
}

div.treemap-tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  box-shadow: 0px 0px 3px 0px #a6a6a6;
  opacity: $tooltip-opacity;
  position: absolute;
}