$dt-perception-positive-color: #81d8eb;
$dt-perception-neutral-color: #63a5cb;
$dt-perception-negative-color: #4571ab;

.visualization-perception-pie {
  overflow: hidden; // IE FIX
  width: 100%;
  height: 100%;
//  position: absolute;

  .svg-container-pie {
    width: 100%;
    height: 100%;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  .section-percent-text {
    font-size: 14px;
  }
  .percent-text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
  }
  .percent-text.positive {
    font-size: 25px;
  }
  .percent-text.negative {
    font-size: 15px;
  }
  .percent-text.neutral {
    font-size: 15px;
  }
}

div.perception-pie-tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  box-shadow: 0px 0px 3px 0px #a6a6a6;
  opacity: $tooltip-opacity;
  position: absolute;
}

.hidden {
  display: none;
}

.svg-container-pie{
  .circular-icon {
    position: absolute;
  }
}

.circular-icon {
  width: 22px;
  height: 22px;
  background: transparent;
  padding: 3px;
  border-radius: 100%;
  color: #333333;
  text-align:center;
  border: 1px solid #f1f1f1;
}

.control.glyphicon {
  position: static;
}