<div class="visualization-area">
    <div ng-if="showHeader" class="header-container">
        <div class="header-title-row">
            <div class="header-title-col header-title-chart Open-Sans-semi-bold">
                <span>
                    Mensajes asociados a la marca
                </span>
            </div>
            <div class="header-title-col header-title-week-avg">
                <img class="header-title-week-avg-icon" src="images/i_media.svg">
                <span class="header-title-week-avg-text Open-Sans-normal">
                    Media semanal <strong class="header-title-week-avg-number Open-Sans-extra-bold">{{avgWeek | number}}</strong> mensajes.
                </span>
            </div>
        </div>
    </div>
    <div class="svg-container">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>
</div>
