$axis-ticks-color: #b1b1b1;
.visualization-area {
  height: 100%;

  .header-container {
    height: 22%;
  }

  .svg-container {
    height: 78%;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .area {
    stroke-width: 05px;
  }

  .grid {
    stroke: lightgrey;
    opacity: 0.7;
  }

  .y-axis path {
    fill: none;
    stroke-width: 0;
  }

  .y-axis text {
    font-size: 10px;
  }

  .x-axis .tick text {
    font-size: 8px;
    fill: $axis-ticks-color;
  }

  .y-axis.no-full-div .tick text {
    font-size: 10px;
    fill: $axis-ticks-color;
  }

  .x-axis path, .x-axis line {
//    font: 10px sans-serif;
    fill: none;
    stroke: #808080;
    shape-rendering: crispEdges;
  }

  .columns {
    fill: #ffffff;
    opacity: 0.5;
  }

  .header-title-row {
    margin-left: -15px;
    margin-right: -15px;

    .header-title-col {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 25px;
    }

    .header-title-chart {
      width: 25%;
      margin-left: 22px;
      float: left;
      font-size: 16px;
    }

    .header-title-week-avg {
      width: 25%;
      margin-right: 22px;
      float: right;
      text-align: right;
      font-size: 11px;
    }

    .header-title-week-avg-text {
      margin-left: 8px;
      vertical-align: middle;
      font-size: 14px;
    }
    strong.header-title-week-avg-number {
      font-size: 15px;
    }

    img.header-title-week-avg-icon {
      vertical-align: middle;
    }

  }
}

div.volume-detail-tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  box-shadow: 0px 0px 3px 0px #a6a6a6;
  opacity: $tooltip-opacity;
  position: absolute;
}