//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / desktop
$screen-xs:                  1024px;
$screen-xs-min:              $screen-xs;
//Refactor @screen-phone to @screen-xs-desktop
$screen-xs-desktop:          $screen-xs-min;

// Small screen / desktop
$screen-sm:                  1280px;
$screen-sm-min:              $screen-sm;
//Refactor $screen-tablet to $screen-sm-desktop
$screen-sm-desktop:          $screen-sm-min;

// Medium screen / desktop
$screen-md:                  1600px;
$screen-md-min:              $screen-md;
//Refactor $screen-desktop to $screen-md-desktop
$screen-md-desktop:          $screen-md-min;

// Large screen / wide desktop
$screen-lg:                  1920px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

$tooltip-opacity: 0.95;

$primary-font-color: #343434;

//dt-map
$dt-map-feature-color: #ffffff;
$dt-map-feature-hover-color: #e6e6e6;
$dt-map-background-color: #d9d9d9;
$dt-map-stroke-color: $dt-map-background-color;
$dt-map-graticule-stroke-color: #c0c0c0;
$dt-map-interactive-items-color: #222;
$dt-map-interactive-items-bg: #fff;
$dt-map-interactive-items-padding: .5em;
$dt-map-interactive-items-text-shadow: #f5f5f5 0 1px 0;
$dt-map-interactive-items-box-shadow: 0px 0px 3px 0px #a6a6a6;
$disabled-caa-contour-color: #d2d2d2;

//dt-legend
$dt-legend-background-color: $dt-map-feature-color;