.visualization-multiline-axis-series {
  overflow: hidden; // IE FIX
  width: 100%;
  height: 100%;

  .svg-container-multiline-axis-series {
    width: 100%;
    height: 100%;
  }

  .grid {
    stroke: #c8c8c8;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  .x-axis line {
    font: 10px sans-serif;
    fill: none;
    stroke: #808080;
    shape-rendering: crispEdges;
  }

  .x-axis path {
    fill: none;
  }

  .y-axis path, .y-axis line {
    fill: none;
  }
  .x-axis .tick text {
    font-size: 10px;
    fill: #b1b1b1;
  }
  .y-axis .tick text {
    font-size: 10px;
    fill: #b1b1b1;
  }
  .line-serie {
    fill: none;
    stroke-width: 2px;
  }
  .dot-line {
    /* consider the stroke-with the mouse detect radius? */
    stroke: transparent;
    stroke-width: 10px;
    cursor: pointer;
  }

  .dot-line:hover {
    stroke: rgba(68, 127, 255, 0.3);
  }
}

@media (max-width: $screen-xs) {
  .visualization-multiline-axis-series text.points-labels {
    font-size: 7px;
  }
  .visualization-multiline-axis-series .y-axis .tick text {
    font-size: 8px;
  }
}

@media (min-width: $screen-xs) {
  .visualization-multiline-axis-series text.points-labels {
    font-size: 7px;
  }
  .visualization-multiline-axis-series .y-axis .tick text {
    font-size: 8px;
  }
}

@media (min-width: $screen-sm) {
  .visualization-multiline-axis-series text.points-labels {
    font-size: 8px;
  }
  .visualization-multiline-axis-series .y-axis .tick text {
    font-size: 9px;
  }
}

@media (min-width: $screen-md) {
  .visualization-multiline-axis-series text.points-labels {
    font-size: 10px;
  }
  .visualization-multiline-axis-series .y-axis .tick text {
    font-size: 8px;
  }
}

div.multiline-axis-series-tooltip {
  color: #222;
  background: #fff;
  text-shadow: #f5f5f5 0 1px 0;
  box-shadow: 0px 0px 3px 0px #a6a6a6;
  opacity: $tooltip-opacity;
  position: absolute;
}