$dt-timelines-xaxis-tick-color: #969696;
.dt-timelines {
  overflow: hidden; // IE FIX
  width: 100%;
  height: 100%;

  .svg-timelines {
    width: 100%;
    height: 100%;
  }
  svg {
    width: 100%;
    height: 100%;
  }

  .x-axis line {
    font: 10px sans-serif;
    fill: none;
    stroke: #808080;
    shape-rendering: crispEdges;
  }

  .x-axis path {
    fill: none;
  }

  .x-axis .tick text {
    font-size: 12px;
    fill: $dt-timelines-xaxis-tick-color;
  }

  .timeline-balls {
    cursor: pointer;
  }

  .timeline-balls.selected {
    fill-opacity: 0.2;
    stroke-opacity: 0.2;
  }

}

div.timelines-tooltip {
  color: #222;
  background: #fff;
  text-shadow: #f5f5f5 0 1px 0;
  box-shadow: 0px 0px 3px 0px #a6a6a6;
  opacity: $tooltip-opacity;
  position: absolute;
}