<div class="dt-timelines">
    <div class="svg-timelines">
        <svg class="timelines">
            <g class="dt-timelines-background">
                <dt-background parent-svg="svg.timelines" add-to-g="g.dt-timelines-background"></dt-background>
            </g>
            <dt-legend add-to-svg="svg.timelines" bbox-margin="componentsBBoxMargin" items="brands" oblong="legendOblong"></dt-legend>
        </svg>
    </div>
</div>
