<g class="dt-legend">
    <rect x="0" y="0" class="dt-legend-bg full-size-rect" rx="3" ry="3"></rect>
    <g transform="translate(12, 12)" class="legend-content" ng-if="!oblong">
        <text y="10" class="legend-content-labels">
            <tspan x="15" ng-attr-dy="{{$index === 0 ? 0 : 25}}" ng-repeat="item in items">{{item.brand}}</tspan>
        </text>
        <circle cx="3" ng-attr-cy="{{($index * 25) + 6}}" r="5" fill="{{item.color}}" ng-repeat="item in items"/>
    </g>
    <g transform="translate(12, 12)" class="legend-content" ng-if="oblong">
        <g ng-repeat="colItem in items track by $index" ng-init="colIndex = $index">
            <text y="10" class="legend-content-labels">
                <tspan ng-attr-x="{{colIndex === 0 ? 15 : (100 * colIndex) + 15}}" ng-attr-dy="{{rowIndex === 0 ? 0 : 25}}" ng-repeat="rowItem in colItem track by $index" ng-init="rowIndex = $index">{{rowItem.brand}}</tspan>
            </text>
            <circle ng-attr-cx="{{colIndex === 0 ? 3 : (100 * colIndex) + 3}}" cx="3" ng-attr-cy="{{(rowIndex * 25) + 6}}" r="5" fill="{{rowItem.color}}" ng-repeat="rowItem in colItem track by $index" ng-init="rowIndex = $index"/>
        </g>
    </g>
</g>