.dt-legend {
  .dt-legend-bg {
    fill: $dt-legend-background-color;
//    stroke: #909090;
//    stroke-width: 0.000001px;
  }
  .legend-content {
    .legend-content-labels {
      font-size: 12px;
    }
  }
}