<div class="visualization-map">
    <div class="svg-container">
        <a href class="reset-button button" ng-click="reset()" ng-show="level === 'ADM-LEVEL-2' || level === 'ADM-LEVEL-3'"><span>Volver </span><span class="glyphicon glyphicon-zoom-in" aria-hidden="true" style="margin-left: 10px;"></span></a>
        <svg class="map">
            <g class="dt-map-grid">
                <dt-map-grid parent-svg="svg.map" add-to-g="g.dt-map-grid"></dt-map-grid>
            </g>
            <g class="perception-chart"></g>
            <g class="features-chart"></g>
            <dt-map-canary-fictitious-line parent-svg="svg.map" canary-bounds="canaryBounds" adm-level="level"></dt-map-canary-fictitious-line>
            <dt-legend add-to-svg="svg.map" bbox-margin="componentsBBoxMargin" items="brands" oblong="false"></dt-legend>
            <dt-volumen-circles add-to-svg="svg.map" features="features" items="volumenCirclesData" projection="projection" scale="s" translate="t" adm-level="level" selected="selected"></dt-volumen-circles>
            <text y="{{titlePositiony}}" x="{{titlePositionx}}" class="map-title Open-Sans-semi-bold" text-anchor="end">
                Volumen de menciones con percepción positiva
            </text>
        </svg>
    </div>
</div>
