.visualization-map {
  overflow: hidden; // IE FIX
  width: 100%;
  height: 100%;
  position: absolute;

  .svg-container {
    width: 100%;
    height: 100%;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  .background {
    fill: $dt-map-background-color;
    pointer-events: all;
  }

  .map-title {
    fill: $primary-font-color;
  }

  .feature {
    fill: $dt-map-feature-color;
  }

  .contour-spain-country {
    fill: $dt-map-feature-color;
//    stroke: $dt-map-stroke-color;
//    stroke-width: 0.5px;
//    stroke-linejoin: round;
//    stroke-linecap: round;
//    pointer-events: none;
  }

  .contour-selected-ccaa {
    fill: $dt-map-feature-color;
  }

  .disabled-caa-contour {
    fill: $disabled-caa-contour-color;
  }

//  path {
//    stroke: white;
//    stroke-width: 0.25px;
//  }

//  .feature .active {
//    fill: orange;
//  }
  //  .map path {
  //    stroke: rgba(255, 255, 255, 0.5);
  //    stroke-width: 0.01px;
  //    stroke-linejoin: round;
  //  }

  //  .map path.active {
  //    stroke: #E08728;
  //    stroke-width: 0.2px;
  //  }

  .mesh-spain-countr {
    fill: none;
    stroke: $dt-map-stroke-color;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
  }

  .mesh-selected-ccaa-contour {
    fill: none;
    stroke: $dt-map-stroke-color;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
  }

  .graticule {
    fill: none;
    stroke: $dt-map-graticule-stroke-color;
    stroke-opacity: .5;
    stroke-width: .5px;
  }

  span
  {
    display: inline-block;
    vertical-align: middle;
    line-height: 14px; /* <-- adjust this */
  }

  .button {
    line-height: 30px;
    color: $dt-map-interactive-items-color;
    background: $dt-map-interactive-items-bg;
//    padding: 8px 8px;
    text-align: center;
    text-shadow: $dt-map-interactive-items-text-shadow;
    box-shadow: $dt-map-interactive-items-box-shadow;
    opacity: 0.9;
    position: absolute;
    display: block;
    width: 80px;
    height: 30px;
    right: 27px;
    top: 62px;
    border-radius: 3px;
    font-size: 12px;
  }

  .grab {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: move;
  }

  .grabbing {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: move;
  }

  #zoom-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 130px;

    .zoom-controls {
      background-color: #fff;
      box-shadow: 0 0 3px #888;
      left: 6px;
      width: 18px;
      height: 18px;
      cursor: pointer;
      position: absolute;
    }

    #exit-zoom {
      top: 15px;
    }

    #exit-zoom::after {
      margin-top: -5px;
      content: '↩';
      margin-left: 2px;
    }

    #more-zoom {
      top: 40px;
    }

    #more-zoom::after {
      content: '+';
      margin-left: 4px;
    }

    #less-zoom {
      top: 100px;
    }

    #less-zoom::after {
      content: '-';
      margin-left: 5px;
    }

    #zoom-line {
      background-color: #fff;
      box-shadow: 0 0 2px #888;
      position: absolute;
      top: 59px;
      left: 13px;
      width: 4px;
      height: 40px;
    }

    #current-zoom {
      background-color: #fff;
      box-shadow: 0 0 2px #888;
      position: absolute;
      top: 95px;
      left: 5px;
      width: 20px;
      height: 4px;
    }
  }

  /* map color distinct ranges */

  .color1 {
    fill: #2F7ED8
  }

  .color2 {
    fill: #0D233A;
  }

  .color3 {
    fill: #8ABC22;
  }

  .color4 {
    fill: #910100;
  }

  .color5 {
    fill: #18ADCE;
  }

  .color6 {
    fill: #492970;
  }

  .color7 {
    fill: #F28F43;
  }

  .color8 {
    fill: #77A1E5;
  }

  .color9 {
    fill: #C42525;
  }

  .color10 {
    fill: #A6C96A;
  }
}

.hidden {
  display: none;
}

div.tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  box-shadow: 0px 0px 3px 0px #a6a6a6;
  opacity: $tooltip-opacity;
  position: absolute;
}
