<g class="dt-volumen-circles">
    <!--<circle cx="700" cy="50" r="10" fill="red" ng-repeat="item in items"/>-->
    <!--<circle cx="700" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />-->
</g>